
.input-group-text {
  border-radius: 0.75rem 0 0 0.75rem;
}

.form-control {
  border-radius: 0 0.75rem 0.75rem 0;
}

textarea.form-control {
  border-radius: 0.75rem;
}

.map-container {
  height: 250px;
  width: 100%;
  min-height: 200px;
}

/* Plus grand écran */
@media (min-width: 768px) {
  .map-container {
    height: 350px;
  }
}


@media (min-width: 1200px) {
  .map-container {
    height: 450px;
  }
}
