<div class="container-fluid chat-container p-0">

  <!-- Header -->
  <div class="chat-header d-flex align-items-center px-3 py-2 shadow-sm">
    <button class="btn btn-light btn-sm rounded-circle me-2">
      <i class="fa fa-arrow-left"></i>
    </button>

    <div class="avatar me-2">J</div>

    <div class="flex-grow-1">
      <div class="fw-semibold">Jean Claude</div>
      <div class="text-success small">Online</div>
    </div>

    <button class="btn btn-light btn-sm rounded-circle">
      <i class="fa-solid fa-phone"></i>
    </button>
  </div>

  <!-- Messages -->
  <div class="chat-body px-3 py-3">

    <!-- Message driver -->
    <div class="message received">
      <div class="bubble">
        Hello 👋 I will leave on time.
      </div>
      <div class="time">08:20</div>
    </div>

    <!-- Message user -->
    <div class="message sent">
      <div class="bubble">
        Great! Where is the exact meeting point?
      </div>
      <div class="time ">
        08:21
        <i class="fa-solid fa-check text-muted"></i>
      </div>
    </div>

    <!-- Message driver -->
    <div class="message received">
      <div class="bubble">
        Near the main bus station.
      </div>
      <div class="time">08:22</div>
    </div>

  </div>

  <div class="message received typing">
    <div class="bubble">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>

  <!-- Input -->
  <div class="chat-input d-flex align-items-center px-2 py-2 shadow-lg">
    <input
      type="text"
      class="form-control form-control-sm rounded-pill me-2"
      placeholder="Type a message..."
    >
    <button class="btn button principal btn-sm rounded-circle">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
  </div>

</div>
