<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center background">
  <div class="col-11 col-sm-9 col-md-6 col-lg-4 m-2">

    <div class="card border-0 shadow-lg rounded-4 p-4 blackOrWhite">

      <!-- Logo -->
      <div class="text-center mb-4">
        <img src="/logo_tugo.svg" alt="Tugo logo" class="mb-3" style="width: 9rem;">
        <h4 class="fw-bold mb-1">Welcome back 👋</h4>
        <p class="text-muted small">Sign in to continue</p>
      </div>

      <!-- Form -->
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <!-- Username -->
        <div class="mb-3">
          <div class="input-group input-group-sm">
            <span class="input-group-text bg-transparent border-end-0">
              <i class="bi bi-person"></i>
            </span>
            <input
              type="text"
              class="form-control border-start-0"
              placeholder="Username"
              formControlName="username"
              required
            >
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <div class="input-group input-group-sm">
            <span class="input-group-text bg-transparent border-end-0">
              <i class="bi bi-lock"></i>
            </span>
            <input
              type="password"
              class="form-control border-start-0"
              placeholder="Password"
              formControlName="password"
              required
            >
          </div>
        </div>
        @if (errorMessage) {
          <div class="alert alert-danger py-2 text-center small">
            {{ errorMessage }}
          </div>
        }

        <!-- Login button -->
        <div class="d-grid mt-4">
          <button
            type="submit"
            class="btn button principal btn-sm rounded-pill py-2 fw-semibold"
            [disabled]="loading"
          >
            {{ loading ? 'Connexion...' : 'Login' }}
          </button>
        </div>
      </form>

      <!-- Sign up -->
      <div class="text-center mt-4">
        <span class="small text-muted">Don’t have an account?</span><br>
        <a href="/sign-up" class="fw-semibold text-decoration-none">Sign up</a>
      </div>

    </div>
  </div>
</div>

